<div class="row">
  <div class="col-xxl-25 col-lg-12 col-md-9">
    <!--<ngx-noise></ngx-noise>-->
    Weight honey hive
    <div class="col-lg-10 col-xxl-25 col-lg-12 col-md-9">
      <nb-card>
        <nb-card-header>To be refactored as weight comparison </nb-card-header>
        <nb-card-body>
          <ngx-weight-multiple-xaxis></ngx-weight-multiple-xaxis>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <!--<div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">-->
    <!--&lt;!&ndash;<ngx-lux></ngx-lux>&ndash;&gt;-->
    <!--Weight bio mass-->
  <!--</div>-->
</div>
<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-lg-6 col-xxl-15 col-lg-12 col-md-9">
        <ngx-humidity-ball-card></ngx-humidity-ball-card>
      </div>
      <div class="col-lg-6 col-xxl-15 col-lg-12 col-md-9">
        <ngx-temperature-ball-card></ngx-temperature-ball-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngx-humidity-ball-activity></ngx-humidity-ball-activity>
    </div>
    <div class="col-md-12">
      <ngx-weight-activity></ngx-weight-activity>
    </div>
    <div class="col-md-12">
      <ngx-temperature-inside-ball-activity></ngx-temperature-inside-ball-activity>
    </div>
    <div class="col-md-12">
      <ngx-beecount-ball-activity></ngx-beecount-ball-activity>
    </div>

  </div>
</div>
